.resume-container {
    background-color: #f4f4f4;
    padding-left: 5vw;
    padding-right: 5vw;
}

.resume-separator {
    border-bottom: 1px solid #888888;
}

.resume-small-separator-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
}

.resume-small-separator {
    border-bottom: 1px solid #888888;
    width: 25vw;
}

.resume-margin-between {
    margin-bottom: 8vh;
}

.resume-name-container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.resume-name-text {
    font-family: 'Saira Extra Condensed', 'Archivo Black', 'Merriweather Sans', sans-serif;
    font-size: 5.5em;

    margin: 0;
    margin-right: 25px;
    line-height: 1;
}

.resume-colored-text {
    color: #00858a;
}

.resume-job-text {
    font-family: 'Saira Extra Condensed', 'Archivo Black', 'Merriweather Sans', sans-serif;
    font-size: 2em;
    color: #888888;
    text-align: start;

    margin: 0;
    line-height: 1;
}

.resume-profile-info-text {
    text-align: justify;
    color: #888888;
    margin: 0;
}

.resume-category-title-text {
    font-family: 'Saira Extra Condensed', 'Archivo Black', 'Merriweather Sans', sans-serif;
    font-size: 3em;
    text-align: start;
}

.resume-content-container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.resume-content-left-container {
    display: flex;
    flex: 80%;
    flex-direction: column;
}

.resume-content-right-container {
    display: flex;
    flex: 20%;
    flex-direction: column;
}

.resume-content-title-text {
    font-family: 'Saira Extra Condensed', 'Archivo Black', 'Merriweather Sans', sans-serif;
    font-size: 2em;
    line-height: 1;
    font-weight: 600;

    text-align: start;
    margin: 0;
}

.resume-content-location-text {
    font-family: 'Saira Extra Condensed', 'Archivo Black', 'Merriweather Sans', sans-serif;
    font-size: 1.4em;
    line-height: 1;
    color: #888888;
    font-weight: 300;

    text-align: start;
    margin: 0;
}

.resume-content-date {
    margin: 0;
    text-align: end;
}

.resume-content-desc-container {
    margin-top: 2vh;
    padding-left: 2vw;
}

.resume-content-desc-text {
    color: #888888;
    text-align: justify;
    margin-top: 0;
}

.resume-content-desc-no-margin {
    margin: 0;
}

.resume-content-desc-padding {
    padding-left: 3vw;
}

.resume-content-bottom-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
}

.resume-skill-category-text {
    font-family: 'Saira Extra Condensed', 'Archivo Black', 'Merriweather Sans', sans-serif;
    font-size: 1.4em;
    line-height: 1;
    color: #888888;
    font-weight: 300;

    text-align: start;
}

.resume-skill-images-container {
    display: flex;
    flex: 1;
    flex-direction: row;

    flex-wrap: wrap;
}

.image-margin {
    margin-top: 10px;
}

.resume-download-button-container {
    display: flex;
    flex: 1;
    flex-direction: row;

    justify-content: center;

    padding-bottom: 10vh;
}

.resume-download-button {
    display: flex;
    flex-direction: row;

    border: 0;
    border-radius: 15px;

    background-color: #e1e1e1;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);

    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;

    cursor: pointer;

    height: 100%;
    min-height: 100%;

    text-decoration: none;
}

.resume-download-image-container {
    display: flex;
    flex: 1;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding-left: 5px;
    padding-right: 5px;
}

.resume-download-image {
    display: block;
    max-width: 35px;
    max-height: 35px;
    width: auto;
    height: auto;

    padding-left: 5px;
    padding-right: 5px;

    filter: invert(9%) sepia(37%) saturate(0%) hue-rotate(237deg) brightness(102%) contrast(76%);
}

.resume-download-text-container {
    min-height: 40px;
    padding-left: 5px;
    padding-right: 5px;

    display: flex;
    flex: 3;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 800;

    overflow: hidden;
    white-space: nowrap;

    text-decoration: none;

    color: #333333;

    font-size: 0.85em;
}