.Header {
    display: flex;
    flex: 1;
    background-color: #00858a;

    padding-left: 10%;
    padding-right: 10%;

    position: fixed;
    top: -100px;
    right: 0;
    left: 0;
    opacity: 0;

    height: 75px;

    transition: .3s;

    z-index: 1;
}

.Header.Is-Visible {
    top: 0;
    opacity: 1;
}

.Header-LeftCol {
    flex: 1;
    display: flex;
}


.Header-RightCol {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Home-Button {
    background-color: #00858a;
    
    border: 0;

    font-family: 'Dancing Script', cursive;
    font-size: 1.7em;
    font-weight: 900;
    color: #fffffff4;
    cursor: pointer;
}

.Home-Button:hover {
    color: #40AF93;
}