.Redirect-Button {
    padding: 15px;

    background-color: #018185;
    border-width: 0;
    border-radius: 3px;

    color: #fffffff4;
    font-size: 0.875em;
    font-family: 'Archivo Black', 'Merriweather Sans', sans-serif;

    margin-left: 10px;
    margin-right: 10px;
}

.Redirect-Button:hover {
    color: #40AF93;
}

.Active {
    background-color: #40AF93;
}

.Redirect-Button.Active:hover {
    color: #fffffff4;
    background-color: #3bbfc3;
}