.prologue-container {
    height: calc(100vh - 70px);
    background-color: #f4f4f4;
}

.prologue-categories-container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.category-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;

    opacity: 0;
    transition: 1s;

}

.first-category-visible {
    transition-delay: 0.5s;
    opacity: 1;
}

.second-category-visible {
    transition-delay: 1.5s;
    opacity: 1;
}

.third-category-visible {
    transition-delay: 2.5s;
    opacity: 1;
}

.category-icon-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-icon-border {
    background-color: #00858a;
    border-radius: 35%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.category-icon {
    width: 7vw;
    height: auto;
    
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(53deg) brightness(106%) contrast(102%);;
}

.category-title {
    font-weight: 900;
    font-size: 1.5em;
}

.category-content {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #888888;
}