.App {
  text-align: center;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;

  position: fixed;
  z-index: 5;
  height: 100vh;
}