html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', 'Merriweather Sans', 'Archivo Black', -apple-system, BlinkMacSystemFont, cursive, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif,
    'Merriweather Sans', 'Dancing Script';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  max-width: 100%;
}

html {
  /* Disable x scrolling */
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fill {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
}

.py-category {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.p-category {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.bg-category-dark {
  background-color: #e1e1e1;
}

.bg-category-light {
  background-color: #fbfbfb;
}

.section-title-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section-title-text {
  margin-bottom: 2vh;

  font-size: 2.7em;
  font-weight: 900;
}

.section-desc-text {
  margin: 0;
  margin-bottom: 10vh;
  font-size: 1em;
  letter-spacing: 2px;
  font-style: italic;
  color: #888888;
}

@media (max-width: 992px) {
  .p-category {
    padding-left: 5vh;
    padding-right: 5vh;
  }
}