html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', 'Merriweather Sans', 'Archivo Black', -apple-system, BlinkMacSystemFont, cursive, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif,
    'Merriweather Sans', 'Dancing Script';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section-title-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section-title-text {
  margin-top: 10vh;
  margin-bottom: 2vh;

  font-size: 2.7em;
  font-weight: 900;
}

.section-desc-text {
  margin: 0;
  margin-bottom: 10vh;
  font-size: 1em;
  letter-spacing: 2px;
  font-style: italic;
  color: #888888;
}