.contacts-container {
    background-color: #e1e1e1;
    padding-left: 8vw;
    padding-right: 8vw;
    
}

.contacts-content-container {
    
}

.contacts-content-container-left {
    margin-right: 20px;
}

.contacts-content-container-right {
    display: flex;
    flex-direction: column;
    /* flex: 3; */
    /* margin-left: 20px; */

    margin-top: 50px;
    /* justify-content: center; */
}

.contacts-profile-image-container {
    margin-bottom: 12px;
}

.contacts-profile-image {
    width: 100%;
    position: relative;

    box-shadow: 5px 0px 3px #888888;

    border-radius: 50%;
}

.contacts-name-text {
    margin: 0;
    line-height: 1;
    
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.contacts-job-text {
    margin: 0;
    line-height: 1;

    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 12px;
}

.contacts-link-container {
    flex-direction: row;
    padding-bottom: 25px;
}

.contacts-link-button {
    border: 0;
    background-color: #333333;
    cursor: pointer;

    width: 40px;
    height: 40px;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    margin-left: 5px;
    margin-right: 5px;
}

.contacts-link-image {
    filter: invert(100%) sepia(0%) saturate(7439%) hue-rotate(137deg) brightness(129%) contrast(91%);
    width: 22px;
    height: 22px;
}

.contacts-link-button:hover {
    transition: 0.5s;
    background-color: #00858a;
}

.contacts-content-text {
    font-family: 'Merriweather Sans', sans-serif;
    text-align: justify;
    color: #333333;
    margin: 0;
    margin-bottom: 15px;
}

.contacts-thanks-container {
    margin-top: 8vh;
}

.contacts-thanks-text {
    color: #888888;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.85em;
    font-style: italic;
    margin:2px;
}

@media (max-width: 992px) {
    .contacts-profile-image {
        width: 35%;
    }

    .contacts-content-container-right {
        margin-top: 16px;
    }
}